/* 
Configuraciones generales para todos los elementos
(algunas son reescritas en elementos particulares)
*/
* {
  margin: 5px;
  padding: 5px;
  font-family: "helvetica neue", arial, verdana, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  /* 
  Descomentar para ver las líneas de cada sección de la página 
  outline: 2px solid red;
  */
  
  color: white;
}

/* Efecto de sombras para todos los elementos de la página*/
header,
main,
aside,
footer,
.item {
  -webkit-box-shadow: inset 0 0 10px black; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: inset 0 0 10px black; /* Firefox 3.5 - 3.6 */
  box-shadow: inset 0 0 10px black; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* Contenedor principal, de tamaño 50% de la pantalla principal */
.container {
  width: 50%;
  margin: auto;
}

/* Elementos de la página */

header {
  background-color: rgb(41, 147, 252); /*Dodger blue*/
}

.centralcontainer {
  margin: auto 0 auto 0;
  display: flex;
}

main {
  box-sizing: border-box; /* Para incluir border y padding en el cálculo de tamaños */
  background-color: rgb(66, 178, 115); /*Ocean green*/
  display: inline-block;
  width: calc(70% - 5px); /* Le resto el margen */
}

.item {
  background-color: rgb(52, 140, 91); /*Sea green*/
  display: inline-block;
  width: calc(100%/4 - 25px); /* Se resta los márgenes de cada item */
  height: 60px;
}

.item p{
    margin:0; /* Se quitan los márgenes*/
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

aside {
  box-sizing: border-box; /* Para incluir border y padding en el cálculo de tamaños */
  background-color: rgb(253, 100, 78); /*Persimmon*/
  display: inline-block;
  width: calc(30% - 5px);
}

footer {
  background-color: rgb(68, 109, 222); /*Royal blue*/
  display: block;
}
